@font-face {
  font-family: 'Perfect DOS VGA 437';
  src: url("Perfect DOS VGA 437 Win.ttf") format("truetype");
}

html{
  background-color: #000000;
}

h2{
  color: #4AF626;
  font-size: 2em;
}

h3 {
  color:chartreuse
}

a{
  font-size: 1.25em;
}

a:link {
  color: #3fd620;
  text-decoration: none ;
}

a:visited {
  color: #207b0d;
  text-decoration: none;
}

a:hover {
  color: #67f84f;
  text-decoration: none;
}

a:active {
  color: #062c02;
  text-decoration: none;
}

.mainContent{
  height: 200px;
  width: 400px;

  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;

  align-content: center;
  text-align: center;

  font-family: "Perfect DOS VGA 437", sans-serif, serif;
}

.error {
  color: white;
}


