* {text-decoration: none;}

.beside {
  padding: 5%;
  display: flex;
  justify-content: flex-end;
}

.tw{}
.tw::after{
  content: " ";
  white-space: pre;
}

/*div {*/
/*  background-image: url(/src/assets/IMG_0934.JPG);*/
/*  background-repeat: no-repeat;*/
/*  background-attachment: fixed;*/
/*  background-size: 100% 100%;*/
/*}*/
